{% macro displayError(validationResult, field) %}
    {% set errorMessage = '' %}
    {% if validationResult.hasErrors() %}
        {% set found = false %}
        {% for error in validationResult.getErrors() %}
            {% if error.getField() == field and not found %}
                {% set errorMessage = error.getMessage() %}
                {% set found = true %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <span class="error">{{ errorMessage }}</span>
{% endmacro %}
